---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}

<!-- for bundleb2b -->
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{category.name}}</h1>
{{{snippet 'categories'}}}
<div class="page" catalog-listing-wrap>
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

	<div class="page-content">
		<main id="product-listing-container" class="viewList">
			{{#if category.products}}
				{{> components/category/product-listing}}
			{{else}}
				<p>{{lang 'categories.no_products'}}</p>
			{{/if}}
		</main>
		{{#if category.description}}
			<div class="cat_desc">
				{{{category.description}}}
			</div>
		{{/if}}
	</div>
</div>

{{/partial}}
{{> layout/base}}

<style>
@media (min-width: 801px)
{
	.container
	{	max-width:100%; padding:0 3.6%; width:100%;
	}
	.footer > .container {
        padding: 0 6rem;
        max-width:91.71429rem;
    }
	.hd_cnt
	{	width:100%; padding:10px 3.6%; max-width: none;
	}
}
</style>
