{{#partial "head"}}
{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <h2 class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="{{urls.home}}">
                {{#if checkout.header_image}}
                    <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{ checkout.header_image }}"/>
                {{ else }}
                    <span class="header-logo-text">{{settings.store_logo.title}}</span>
                {{/if}}
            </a>
        </h2>
    </div>
</header>

{{{ checkout.order_confirmation_content }}}

{{{ footer.scripts }}}
<!-- for bundleb2b start-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    // save po number to our database
    if(sessionStorage.getItem("po_number")) {
        const po_number = sessionStorage.getItem("po_number");
        const postData = {
            'store_hash':'{{settings.store_hash}}',
            'order_id':'{{checkout.order.id}}',
            'user_id':'{{customer.id}}',
            'po_number': po_number
        };

        //urlL dev: fl4mq0bm40, prod: 8l6t4dsd6e

        $.ajax({
            type: "POST",
            // url: 'https://8l6t4dsd6e.execute-api.us-west-2.amazonaws.com/prod/purchaseOrderNumber',
            // url: 'https://fl4mq0bm40.execute-api.us-west-2.amazonaws.com/prod/purchaseOrderNumber',
            // url: 'https://l4m45kvzfh.execute-api.us-west-2.amazonaws.com/prod/purchaseOrderNumber',
            // url: 'https://dk0xoldgn8.execute-api.us-west-2.amazonaws.com/prod/purchaseOrderNumber ', // stag
            url: 'https://fqdjdxsjne.execute-api.us-west-2.amazonaws.com/prod/purchaseOrderNumber', // flexfire-leds-store
            contentType: "application/json",
            data: JSON.stringify(postData),
            success: function(data) {
                console.log(data);
                sessionStorage.removeItem("po_number");
            },
            error: function(jqXHR, textStatus, errorThrown) {
            }
        });
    }

    if (sessionStorage.getItem("bundleb2b_user") && sessionStorage.getItem("bundleb2b_user") != "none") {
        const b2bUser = JSON.parse(sessionStorage.getItem("bundleb2b_user"));
        const postData = {
            'store_hash':'{{settings.store_hash}}',
            'order_id':'{{checkout.order.id}}',
            'customer_id':'{{customer.id}}',
            'company_id': b2bUser.company_id
        };
        const pay_email = sessionStorage.getItem("pay_email");
        if(pay_email) {
            postData['paypal_billing_email'] = pay_email;
        }

        $.ajax({
            type: "POST",
            // url: 'https://8l6t4dsd6e.execute-api.us-west-2.amazonaws.com/prod/createOrder ',
            // url: 'https://fl4mq0bm40.execute-api.us-west-2.amazonaws.com/prod/createOrder ', // test
            // url: 'https://l4m45kvzfh.execute-api.us-west-2.amazonaws.com/prod/createOrder ', //
            // url: 'https://dk0xoldgn8.execute-api.us-west-2.amazonaws.com/prod/createOrder ', // stag
            url: 'https://fqdjdxsjne.execute-api.us-west-2.amazonaws.com/prod/createOrder', // flexfire-leds-store
            contentType: "application/json",
            data: JSON.stringify(postData),
            success: function(data) {
                console.log(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
            }
        });
    }
</script>
<!-- for bundleb2b end-->

{{/partial}}

{{> layout/empty}}
